@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Добро пожаловать.</h1>
    <p class="lead">Вы находитесь на странице тестрования бла-бла-бла</p>
    <hr class="m-y-2">
    <p>Чтобы начать тестирование нажмите кнопку ниже</p>
    <p class="lead">
        <a asp-area="" asp-controller="Home" asp-action="Exam">About</a>
    </p>
</div>
